html{
  font-family: "Noto Sans", sans-serif, "Noto Serif", serif;
  box-sizing: border-box;
}

*, *:before, *:after{
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

}

a{
  text-decoration: none;
  color: rgb(34, 96, 196);
  font-weight: 600;
}

a:hover, a:active{
  color: rgba(112, 202, 114, 0.749)
}